/*リンクのcss*/

.link{
    color: yellow;
}

.link:hover{
    color: orange;
}

.link2{
    color: red;
}

.link2:hover{
    color: orange;
}

/*説明部分のcss*/
#intro{
    background-image: url("../images/background.png");
    color: white;
    padding: 10px;
}

.contents-title{
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 4px black;
    font-family: "Sawarabi Mincho";
    text-align: center;
    color: red;

}

.contents-discription{
    text-align: center;
}

#index > div > ul{
    text-align: center;
}

#index > div > ul > li{
    display: inline-block;
    /*　上,右,下,左 の順番*/
    margin: 0px 10px 0px 10px;
}

#index > div > ul > li > a{
    color: yellow;
}

#index > div > ul > li > a:hover{
    color: orange;
}

/*トップページへ移動するリンクについて*/
p > .to_top{
    color: red;
    font-size: 20px;
}

/*各作品のcss*/
#show_app{
    text-align: center;
}

#portfolio_img{
    width: 65%;
    height: 65%;
    border-style: solid;
    border-radius: 10%;
    border-color: black;
}

#number1{
    border-width: 7px;
    border-style: solid;
    border-color: skyblue lightseagreen;
}

#number2{
    border-width: 7px;
    border-style: solid;
    border-color: skyblue lightseagreen;
}

#number3{
    border-width: 7px;
    border-style: solid;
    border-color: skyblue lightseagreen;
}

#number4{
    border-width: 7px;
    border-style: solid;
    border-color: skyblue lightseagreen;
}

.portfolio-title{
    color: darkblue;
    font-family: "Sawarabi Mincho";
    font-weight: 200;
    font-size: 30px;
}