.link{
    color: yellow;
}

.link:hover{
    color: orange;
}

.link2{
    color: red;
}

.link2:hover{
    color: orange;
}

#intro{
    background-image: url("../images/background.png");
    color: white;
    padding: 10px;
}

.contents-title{
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 4px black;
    font-family: "Sawarabi Mincho";
    text-align: center;
    color: red;

}

.contents-discription{
    text-align: center;
}

#show_app{
    text-align: center;
}

#portfolio_img{
    width: 70%;
    height: auto;
}

#number{
    border-width: 7px;
    border-style: solid;
    border-color: skyblue lightseagreen;
}

.portfolio-title{
    color: darkblue;
    font-family: "Sawarabi Mincho";
    font-weight: 200;
    font-size: 30px;
}