/*ヘッダー*/
header {
    padding: 20px;
    text-align: center;
    height: 200px;
    background: url(../images/header_img.png);
}

header > div{
    position: relative;
    bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: crimson;
    font-size: 16px;
}

.header-contents{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 17px;
}

/*ヘッダーのコンテンツ部分*/
.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
}


.nav-list-item > .link-title{
    margin: 20px;
    padding: 10px;
    color: black;
    background-color: dodgerblue;
    border-radius: 20px;
    text-decoration: none;
}

.nav-list-item > .link-title:hover{
    margin: 20px;
    padding: 10px;
    color: crimson;
    background-color: dodgerblue;
    text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12), 0 3px 20px 0 rgba(0,0,0,0.12), 0 5px 6px -2px rgba(0,0,0,0.2);
}


/*本命コンテンツタイトル*/
.contents-title{
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Sawarabi Mincho', sans-serif;
    text-align: center;
    color: crimson;
    background-color: floralwhite;
    padding: 15px;
}

body{
    width: auto;
    height: 100%;
}

/*本命コンテンツの部分*/
/*1つめ*/

.goto_portfolio{
    color: yellow;
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Sawarabi Mincho', sans-serif;
    border-style: dashed;
    text-decoration: none;
}

.goto_portfolio:hover{
    color: orange;
    font-size: 20px;
    text-shadow: 1px 1px 3px orange;
    text-decoration: none;
}

.contents1{
    background-image: url(../images/background.png);
    position: relative;
}

p.contents1-name{
    color: blue;
}

#contents1 > .contents1 > ol{
    display: inline-block;
}

.contents1-list1-item{
    opacity: 0;
    transform : translateX(-50px);
    transition : all 1500ms;
}

.contents1-list1-item.visible{
    opacity: 1;
    transform: translate(0px,0px);
}

.contents1-list2-item{
    position: relative;
    top: 30px;
}

.contents1-list2{
    background-color: lightblue;
    border-radius: 10%;
    position: relative;
    top: 20px;
    left: 110px;
    /**/
    opacity: 0;
    transform: translate(0,35px);
    transition: all 1500ms;
}

.contents1-list2.visible{
    background-color: lightblue;
    border-radius: 10%;
    position: relative;
    top: 20px;
    left: 110px;
    /**/
    opacity: 1;
    transform: translate(0,0);
}

.contents1-value{
    color: white;
}

.image-name{
    text-align: center;
    position: relative;
    bottom: 11px;
    right: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#yusaku-image{
    position: relative;
    right: 20px;
    bottom: 15px;
    border-radius: 20%;
    width: 100%;
    height: auto;
}

/*2つめ*/

.contents2{
    background-image: url(../images/background.png);
    padding: 10px;
}


#contents2 > .contents2 ol{
    display: inline-block;
    margin: 0 20px;
}

.skill-title{
    position: relative;
    right: 30px;
    color: blue;
}

.contents2-list{
    opacity: 0;
    transform : translateX(-50px);
    transition : all 1500ms;
}

.contents2-list.visible{
    opacity: 1;
    transform: translate(0px,0px);
}

.contents2-list1-item{
    color: white;
}

.contents2-list2-item{
    color: white;
}

.contents2-list3-item{
    color: white;
}

/*3つめ*/

.contents3{
    background-image: url(../images/background.png);
    padding: 10px;
}

#contents3 > .contents3 ol{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.other-title{
    position: relative;
    right: 30px;
    color: blue;
}

.contents3-list{
    opacity: 0;
    transform : translateX(-50px);
    transition : all 1500ms;
}

.contents3-list.visible{
    opacity: 1;
    transform: translate(0px,0px);
}

.contents3-list1-item{
    color: white;
}

.contents3-list2-item{
    color: white;
}

.contents3-list3-item{
    color: white;
}

/*紹介部分*/
#account{
    background-image: url(../images/background.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#account_contents > ol{
    display: inline-block;
    position: relative;
    left: 110px;
    margin: 0px 20px;
}

#share_button{
    position: relative;
    right: 30%;
    margin: 5px;
    padding: 5px;
    color: white;
}

/*GitHubアカウント*/
#share_button > #github > ul > #github-link >.link-title{
    position: relative;
    bottom: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;/*下線消える*/
    background-color: dodgerblue;
    
    /*影をつける*/
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.829), 0 1px 5px 0 rgba(255, 255, 255, 0.829), 0 3px 1px -4px rgba(255, 255, 255, 0.829);
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;
}

#share_button > ul > #github-link > .link-title:hover{
    color: crimson;
    padding: 10px;
    text-decoration: none;
    background-color: dodgerblue;
    border-radius: 20px;
}

#github > ul > p{
    position: relative;
    left: 65px;
}

#github-link{
    position: relative;
    left: 50px;
}

#sns_intro{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

#twitter_timeline{
    position: relative;
    top: 10px;
    right: 20px;
}

/*フッター*/

#footer{
    width: 100%;
    margin: auto;
}

.footer-contents{
    text-align: center;
    vertical-align: 10%;
    background-color: lightblue;
    position: relative;
    bottom: 0px;
    padding: 15px;
}